.top-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .top-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .top-bar-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .sidebar-menu {
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .sidebar-menu h2 {
    margin-bottom: 10px;
  }
  
  .sidebar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 5px;
  }
  
  .menu-icon {
    margin-right: 10px;
  }
  
  .sidebar-components {
    width: 300px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .sidebar-components h2 {
    margin-bottom: 10px;
  }
  
  .sidebar-components ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-components li {
    margin-bottom: 5px;
  }