.business-listings {
    display: flex;
    gap: 20px;
    font-family: Arial, sans-serif;
  }
  
  .categories {
    flex: 0 0 200px;
    background-color: #f3f3f3;
    padding: 20px;
    margin-left: 38px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .categories h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories li {
    cursor: pointer;
    padding: 12px 16px;
    font-size: 14px;
    color: #666;
    transition: background-color 0.3s;
  }
  
  .categories li:hover,
  .categories li.active {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .businesses {
    flex: 1;
  }
  
  .businesses h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .businesses ul {
    list-style: none;
    padding: 0;
  }
  
  .businesses li {
    padding: 12px 16px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #f3f3f3;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
  }
  
  .businesses li:last-child {
    border-bottom: none;
  }
  
  .businesses li:hover {
    background-color: #f9f9f9;
    color: #333;
  }
  
  .businesses p {
    color: #888;
    margin-top: 10px;
  }
  
  .businesses li .icon {
    margin-right: 10px;
    font-size: 20px;
    size: large;
    color: #333;
  }
  .businesses li .business-name {
    margin-left: 10px;
  }

  .business-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .business-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .business-card .icon {
    margin-bottom: 10px;
  }
  
  .business-card .business-name {
    font-size: 14px;
  }
  .add-category-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-category-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .add-category-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .add-category-form label {
    font-weight: bold;
  }
  
  .add-category-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .add-category-form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .add-category-form-buttons button {
    padding: 5px 10px;
  }

  .add-category-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .business-listings {
    margin-top: 20px;
  }